body {
  font-family: monospace;
  background-color: hsla(58, 29%, 45%, 1);
}

canvas {
  display: block;
  margin: 10px;
  border: #3D3B1A 3px solid;
  background-color: hsla(58, 29%, 50%, 1);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
}
